.ng-dirty.ng-touched.ng-invalid[name='username'] {
  border-bottom: 3px red solid;
}

.ng-dirty.ng-touched.ng-valid[name='username'] {
  border-bottom: 3px green solid;
}

.ng-dirty.ng-touched.ng-invalid[name='password'] {
  border-bottom: 3px red solid;
}

.ng-dirty.ng-touched.ng-valid[name='password'] {
  border-bottom: 3px green solid;
}
